<h1>집어넣기</h1>
<form action="/talk/learn">
    질문 : <input type="text" name="ask"><br>
    답 : <input type="text" name="answer" style="text-align:center; width:800px; height:600px; letter-spacing: 5px"><br>
    <input type="submit">
</form>    